%h1 Listing profiles

%table
  %tr
    %th User
    %th First name
    %th Last name
    %th Street name
    %th Postcode
    %th Country
    %th Mobile
    %th Gender
    %th Date of birth
    %th
    %th
    %th

  - @profiles.each do |profile|
    %tr
      %td= profile.user
      %td= profile.first_name
      %td= profile.last_name
      %td= profile.street_name
      %td= profile.postcode
      %td= profile.country
      %td= profile.mobile
      %td= profile.gender
      %td= profile.date_of_birth
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile)
      %td= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Profile', new_profile_path
