.block
  %h2 Resend confirmation instructions
  .content
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form' }) do |f|
      = devise_error_messages!
      .group.wat-cf
        .left
          = f.label :email, :class => 'label'
        .right
          = f.text_field :email, :class => 'text_field'
          %span.description Ex: test@example.com
      .group.wat-cf
        .right
          %button{:class => 'button', :type => 'submit'}
            Resend confirmation instructions
    = render :partial => "devise/shared/links"



