.block
  %h2 %h2 Resend unlock instructions
  .content
    = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form' }) do |f|
      = devise_error_messages!
      .group.wat-cf
        .left
          = f.label :email, :class => 'label'
        .right
          = f.text_field :email, :class => 'text_field'
      .group.wat-cf
        .right
          %button{:class => 'button', :type => 'submit'}
            Resend unlock instructions
    = render :partial => "devise/shared/links"

