!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title= yield(:title).blank? ? TITLE : yield(:title)
    %meta{:name => "description", :content => yield(:description).blank? ? DESCRIPTION : yield(:description) }
    %meta{:name => "keywords", :content => yield(:keywords).blank? ? KEYWORDS : yield(:keywords)}
    = auto_discovery_link_tag(:rss, FEED_BURNER_URL)
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/amro/style", "web-app-theme/override", :cache => true
    = csrf_meta_tag
    = javascript_include_tag 'jquery', 'rails'
    = yield :head
    = javascript_include_tag 'application'
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Job Advertiser
        =render :partial => 'shared/user_navigation'
        #main-navigation
          %ul.wat-cf
            %li
              %a{:href => "#"}= "BOBAN"
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Job Advertiser.
        #sidebar
          = yield :sidebar
